*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --dark-green: #009f27;
  --light-green: #00b32c;
  --dark-red: #d0000f;
  --light-red: #e40010;
  --gradient-grey: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

body {
  background: url(stripe.svg) 0 0 no-repeat;
  background-size: 100% 6px;
  animation: fade-in-fwd 0.5s both;
}

/* styling image upload form */
.fileUploader > .fileContainer {
  box-shadow: none;
  border: none;
  background-image: var(--gradient-grey);
}

.fileContainer > button.chooseFileButton {
  background-color: var(--dark-green);
  font-weight: 500;
}

.fileContainer > button.chooseFileButton:hover {
  background-color: var(--light-green);
}

div.errorMessage {
  color: var(--dark-red);
  font-weight: 500;
}

.uploadPictureContainer > div.deleteImage {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  background-color: var(--light-red);
}

.uploadPictureContainer > div.deleteImage:hover {
  background-color: var(--dark-red);
}

/* styling cards on main postcard creation page */
div.box-shadow-card {
  box-shadow: rgba(0,0,0,.25) 0 2px 16px;
  width: 38rem;
  background-image: var(--gradient-grey);
  padding: 0.8rem 1.2rem;
  animation: fade-in-fwd 1.5s both;
}

.box-shadow-card-title {
  font-size: 1.2rem;
  font-weight: 500;
}

/* styling postcard destination form */
form.destination input {
  width: 34rem;
  height: 2.4rem;
  border-radius: 5px;
  border-width: 1px;
  padding: 10px;
  margin: 8px 0;
}

/* styling address autocomplete dropdown */
.autocomplete-dropdown-container {
  cursor: pointer;
}

div.dropdown {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding-top: 8px;
}

div.dropdown > span::before {
  content: "📍  ";
}

.suggestion-item--active { background-color: #f5f5f5; }
.suggestion-item { background-color: #ffffff; }

.suggestion-item--active,
.suggestion-item {
  padding-left: 6px;
  height: 2.5rem;
}

/* styling checkout button form */
button.paymentBtn,
button.paymentBtn:hover {
  cursor: pointer;
  height: 2.5rem;
  font-size: 18px;
  font-weight: 500;
  margin: 0.25rem 0 0.75rem;
}

button.paymentBtn {
  background-color: var(--dark-green);
}

button.paymentBtn:hover {
  background-color: var(--light-green);
}

button.paymentBtn:disabled,
button.paymentBtn:hover:disabled {
  cursor: auto;
  background-color: var(--dark-green);
  opacity: .4;
  transform: none;

}

/* checkout button icon and hover animation */
.hvr-icon-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

.hvr-icon-forward .hvr-icon {
  margin-left: 8px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-icon-forward:hover .hvr-icon,
.hvr-icon-forward:focus .hvr-icon,
.hvr-icon-forward:active .hvr-icon {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}

.hvr-icon-forward:hover:disabled .hvr-icon,
.hvr-icon-forward:focus:disabled .hvr-icon,
.hvr-icon-forward:active:disabled .hvr-icon {
  -webkit-transform: none;
  transform: none;
}

/* styling error and success landing pages */
img.error-illustration {
  margin-top: 3rem;
  height: 300px;
}

/* simple fade in animation for pages */
@keyframes fade-in-fwd {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
