*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --dark-green: #009f27;
  --light-green: #00b32c;
  --dark-red: #d0000f;
  --light-red: #e40010;
}

body {
  background: url(stripe.svg) 0 0 no-repeat;
  background-size: 100% 6px;
}

/* styling image upload form */
.fileUploader > .fileContainer {
  box-shadow: none;
  border: none;
}

.fileContainer > button.chooseFileButton {
  background-color: var(--dark-green);
  font-weight: 500;
}

.fileContainer > button.chooseFileButton:hover {
  background-color: var(--light-green);
}

div.errorMessage {
  color: var(--dark-red);
  font-weight: 500;
}

.uploadPictureContainer > div.deleteImage {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  background-color: var(--light-red);
}

.uploadPictureContainer > div.deleteImage:hover {
  background-color: var(--dark-red);
}

/* styling cards on main postcard creation page */
.box-shadow-card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width: 40rem;
}

.box-shadow-card-title {
  font-size: 1.2rem;
  font-weight: 500;
}

/* styling postcard destination form */
form.destination input {
  width: 35rem;
  height: 2.5rem;
  border-radius: 5px;
  border-width: 1px;
  padding: 10px;
  margin: 8px 0;
}

/* styling address autocomplete dropdown */
.autocomplete-dropdown-container {
  cursor: pointer;
}

div.dropdown {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding-top: 8px;
}

div.dropdown > span::before {
  content: "📍  ";
}

.suggestion-item--active { background-color: #f5f5f5; }
.suggestion-item { background-color: #ffffff; }

.suggestion-item--active,
.suggestion-item {
  padding-left: 6px;
  height: 2.5rem;
}

/* styling payment form */
div.StripeElement {
  padding-top: 1.5rem;
}

button.paymentBtn,
button.paymentBtn:hover {
  cursor: pointer;
  height: 2.8rem;
  font-size: 20px;
  font-weight: 500;
  margin: 2rem 0 1rem;
}

button.paymentBtn {
  background-color: var(--dark-green);
}

button.paymentBtn:hover {
  background-color: var(--light-green);
}

button.paymentBtn:disabled,
button.paymentBtn:hover:disabled {
  cursor: auto;
  background-color: var(--dark-green);
  opacity: .4;
}
